table{
    width: 1000px;
    margin: 30px auto;
}
tr , th{
    padding: 10px 0;
    background-color:aliceblue;
    border: thin solid;
}

table img{
    width: 70%;
}

body{
    background-color:powderblue;
}

div{
    background-color: bisque;
    
}

th , tr{
    background-color: lightskyblue;
}

.buy-ticket-btn:hover{
    opacity: 0.6;
    background-color: aqua;
}
